env
.vscode
__pycache__
pur_beurre_project/__pycache__
webapp/__pycache__
webapp/migrations/__pycache__/
essai.py
fonctions_temp.py
webapp/utilities/__pycache__
webapp/utilities/api/__pycache__/
webapp/utilities/api/externals/__pycache__/
webapp/utilities/sql/__pycache__/
webapp/management/__pycache__
webapp/management/commands/__pycache__
webapp/test/__pycache__
userapp/__pycache__
userapp/migrations/__pycache__
userapp/test/__pycache__
.coverage
geckodriver.log
presentation
