.product_top
{
    margin-top: 5em;
    height: 20em;
    width: 100%;
    display: table;
    background-color: #345A61;
    background-repeat: no-repeat;
    background-position: center;
}

.product_top_text
{
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.product_body
{
    height: 20em;
    width: 100%;
    display: table;
}

.openfoodlink
{
    width: 100%;
}



.product_background
{
    background-color: #DE9440;
    text-align: center;
}

.nutriscore_box
{
    height: 20em;
    display: table;
    vertical-align: middle;
    text-align: center;
}

.nutriscore_char
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.nutriment_box
{
    height: 20em;
    display: table;
}

.nutri_values
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.off_button
{
    width: 60%;
    font-size: 2em;
    font-weight: bold;
}

.product_bottom
{
    height: 10em;
    background-color: #DE9440;
}