.search_body
{
    background-color: #DE9440;
    height: 40em;
    width: 100%;
    display: table;
}

.product_img
{
    width: 80%;
    height: auto;
}

.img_box
{
    display: inline-block;
    position: relative;
    z-index: 1;
}

.nutriscore_img
{
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 30px;
    height: 3em;
    width: auto;
}

.result_box
{
    background-color:rgba(255, 255, 255, 0.2);
    float: left;
}

.search_top
{
    margin-top: 5em;
    height: 30em;
    width: 100%;
    display: table;
    background-color: #345A61;
    background-repeat: no-repeat;
    background-position: center;
}

.search_top_text
{
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}