{% load static %}

{% block content %}
<!-- <div style="display: table;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;"> -->
<form action="/search" method="get">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- <table style="display: none">
                {{ view.formset.empty_form }}
            </table>

            <table>
                {{ view.formset }}
            </table> -->

    <!-- <span id="add-form" class="button"></span> -->

    <input type="submit" value="Rechercher" />
</form>
<!-- </div>
</div> -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{{ form.media }}

<script src="{% static 'webapp/js/autocomplete.js' %}"></script>
{% endblock %}