{% extends "webapp/base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'webapp/css/search.css' %}" rel="stylesheet" />
{% for product in searched_product %}
<link href="{% static 'webapp/css/account.css' %}" rel="stylesheet" />
<section class="search_top" style="background-image: url({{ product.product_img }});">
    <div class="search_top_text">
        <h1>
            {{ product.product_name }}
        </h1>
    </div>
</section>
{% endfor %}
<div class="search_body">
    {% for product in products %}
    <div class="col-md-4 result_box">
        <div class="img_box">
            <div>
                <a href="{{ product.product_url }}"><img class="product_img" src="{{ product.product_img }}"
                        alt="{{ product }}" /></a>
            </div>

            <img class="nutriscore_img" src="/{{ product.product_nutriscore }}" />
        </div>
        <a class="product_name" href="{{ product.product_url }}">{{ product }}</a>

    </div>
    {% endfor %}
</div>
{% endblock %}