.product_top {
  margin-top: 5em;
  height: 30em;
  width: 100%;
  display: table;
  background-color: #345A61;
  background-repeat: no-repeat;
  background-position: center;
}

.product_top_text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.product_body {
  background-color: #DE9440;
  height: 40em;
  width: 100%;
  display: table;
}

.openfoodlink {
  width: 100%;
}

.nutri_values {
  font-size: 2em;
}
