.search_body {
  background-color: #DE9440;
  height: 40em;
  width: 100%;
  display: table;
}

.product_img {
  width: 80%;
  height: 80%;
}

.img_box {
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  position: relative;
  z-index: 1;
}

.nutriscore_img {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 30px;
  height: auto;
  width: auto;
}

.result_box {
  background-color: rgba(255, 255, 255, 0.2);
  float: left;
}

.search_top {
  margin-top: 5em;
  height: 30em;
  width: 100%;
  display: table;
  background-color: #345A61;
  background-repeat: no-repeat;
  background-position: center;
}

.search_top_text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.nutriscore_ring {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: table;
}

.nutriscore_letter {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.nutriscore_letter_a {
  color: #088A08;
}

.nutriscore_ring_a {
  border: 0.5em solid #088A08;
}

.nutriscore_letter_b {
  color: #9AFE2E;
}

.nutriscore_ring_b {
  border: 0.5em solid #9AFE2E;
}

.nutriscore_letter_c {
  color: #FFBF00;
}

.nutriscore_ring_c {
  border: 0.5em solid #FFBF00;
}

.nutriscore_letter_d {
  color: #C55302;
}

.nutriscore_ring_d {
  border: 0.5em solid #C55302;
}

.nutriscore_letter_e {
  color: #FF0000;
}

.nutriscore_ring_e {
  border: 0.5em solid #FF0000;
}
